[loggers]
keys=root, parserRR, parserHH, parserSJ

[handlers]
keys=fileHandler

[formatters]
keys=fileFormatter

[logger_root]
level=INFO
handlers=fileHandler
qualname=root

[logger_parserRR]
level=INFO
handlers=fileHandler
qualname=parserRR

[logger_parserHH]
level=INFO
handlers=fileHandler
qualname=parserHH

[logger_parserSJ]
level=INFO
handlers=fileHandler
qualname=parserSJ

[handler_fileHandler]
class=FileHandler
level=INFO
formatter=fileFormatter
args=('%(logfilename)s',)

[formatter_fileFormatter]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s